extends layout

block content
  - each post in posts
    p
      h2
        a(href='/u/#{post.name}/#{post.time.day}/#{post.title}') #{post.title}
    p(class='info')
      |Author:
      a(href='/u/#{post.name}') #{post.name}
      |<br />
      |Date:
      a #{post.time.minute}
      |<br />
      |Tags:
      - each tag in post.tags
        - if (tag)
          a(class="tag", href="/tags/#{tag}") #{tag}
    p
      !{post.post}
    p(class="info") <#{post.pv}/#{post.comments.length}>
  include ./paging.jade
