doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1= title
      - if (user)
        p(align='right')= user.name
        p(align='right')= user.email
    nav
      - if (user)
        span
          form(action="/search", method="get") 
            input(type="text", name="keyword", placeholder="SEARCH", class="search")
        span
          a(title='Home', href='/') HOME
        span
          a(title="Archive", href='/archive') ARCHIVE
        span
          a(title="Tags", href="/tags") TAGS
        span
          a(title='Post', href='/post') POST
        span
          a(title='Upload', href='/upload') UPLOAD
        span
          a(title='LOGOUT' href='/logout') LOGOUT
      - else
        span
          a(title='Home', href='/') HOME
        span
          a(title='Login', href='/login') LOGIN
        span
          a(title='Register', href='/reg') REGISTER  

    body
      - if (success)
        div(class="flash")= success

      - if (error)
        div(class="flash")= error
      artical
        block content
      