extends layout

block content
  ul(class="archive")
    - lastYear = 0
    - each post in posts
      - if (lastYear != post.time.year)
        li
          h3 #{post.time.year}
      - lastYear = post.time.year
        li
          time #{post.time.day}
        li
          a(href="/u/#{post.name}/#{post.time.day}/#{post.title}") #{post.title}